__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
**/*.py[cod]
**/*$py.class
*.so
**/*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/share/python-wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/MANIFEST

.env
**/.env
*.crt
**/*.crt
**/.vscode/
.vscode
audio-management/
audio-management-backup/
speech-to-text/audio_files/*
speech-to-text/transcript_files/*
speech-to-text/app/audio_files/*
speech-to-text/app/transcript_files/*
text-to-speech/output/**
text-to-speech/models/**
**/certs/**
**/models/**
**/output/**
**/*.bak
**/ha_media_library.json
**/venv/

.git
services/speech-to-text/app/whisper_streaming/**
volumes/**/*


!/.gitkeep
!**/.gitkeep
!volumes/**/.gitkeeptest_env/
