import logging

LOG_LEVEL_APP = logging.INFO # Log level for custom code
LOG_LEVEL_OTHERS = logging.INFO  # Log level for other loggers
LOKI_URL = 'http://HOST:PORT/loki/api/v1/push'

CURRENT_LOCATION = "Citytonville, OH, USA"
CURRENT_ZIPCODE = "12345"
HAOS_URL = "https://YOUR_HA_URL/api"
HAOS_TOKEN = "HA_LONG_LIVED_ACCESS_TOKEN"
LLM_API_KEY = "OPENAI_API_KEY"
LLM_API_BASE = "http://HOST:PORT/v1"
WOLFRAM_ALPHA_API_KEY = ""
BRAVE_SEARCH_API_KEY = ""

SRC_LAN = "en"
IP_ADDRESS = "" # container host IP address
SOURCE_IP = "" # edge device IP address

TTS_DEVICE = "0" # GPU index to use for text-to-speech model
STT_DEVICE = "1" # GPU index to use for speech-to-text model