import os

IP_ADDRESS = "CONTAINER_HOST_IP" #TODO: Automatically detect IP address


##### Defaults: Keep These As-Is #####

BASE_DIR = os.path.dirname(os.path.abspath(__file__)) 
AUDIO_DIR = os.path.join(BASE_DIR, "output")
SERVER_HOST = "0.0.0.0" # Leave this as-is to bind to all interfaces
SERVER_PORT = 6003
BASE_URL = f"http://{IP_ADDRESS}:{SERVER_PORT}/"

##### End Defaults #####